<li>
  <div class="collapsible-header">
    <i class="material-icons lime-text">layers</i><%= section.title %>
  </div>

  <div class="collapsible-body">
    <span><%= markdown(section.outline) %>
    <span class="right">
      <%= link_to "MORE", essay_section_path(@essay, section), :class => "lime-text text-darken-1"%> ||
      <%= link_to "EDIT", edit_essay_section_path(@essay, section), :class => "lime-text text-darken-1"%>
    </span></span>
  </div>
</li>
