// Place all the styles related to the Essays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#index-carousel{
  height: 600px !important;
}
.index-card{
  height: 90% !important;
  width: 60% !important;
}

textarea{
  height: 500px !important;
}
