<ul id="slide-out" class="side-nav">
  <li><a href="#!">Research</a></li>
  <li><a href="#!">Outline</a></li>
  <li><a href="#!">Bibliography</a></li>
  <li><a href="#!">Write</a></li>
</ul>
  <!-- <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header">Dropdown<i class="material-icons">arrow_drop_down</i></a>
        <div class="collapsible-body">
          <ul>
            <li><a href="#!">First</a></li>
            <li><a href="#!">Second</a></li>
            <li><a href="#!">Third</a></li>
            <li><a href="#!">Fourth</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li> -->
<!-- </ul>
<ul class="left hide-on-med-and-down">
  <li><a href="#!">Research</a></li>
  <li><a href="#!">Outline</a></li>
  <li><a href="#!">Bibliography</a></li>
  <li><a href="#!">Write</a></li>
</ul> -->



  <script>
    // Show sideNav
  $(".button-collapse").sideNav();

  $('.button-collapse').sideNav('show');
  // Hide sideNav
  $('.button-collapse').sideNav('hide');
  // Destroy sideNav
  $('.button-collapse').sideNav('destroy');

  </script>
