<ul id="slide-out" class="side-nav">
  <li><a href="#!">Research</a></li>
  <li><a href="#!">Outline</a></li>
  <li><a href="#!">Bibliography</a></li>
  <li><a href="#!">Write</a></li>
</ul>

<ul class="left hide-on-med-and-down">
  <li><a href="#!">Research</a></li>
  <li><a href="#!">Outline</a></li>
  <li><a href="#!">Bibliography</a></li>
  <li><a href="#!">Write</a></li>
</ul>



  <script>
    // Show sideNav
  $(".button-collapse").sideNav();

  $('.button-collapse').sideNav('show');
  // Hide sideNav
  $('.button-collapse').sideNav('hide');
  // Destroy sideNav
  $('.button-collapse').sideNav('destroy');

  </script>
