<h1>Welcome to the Essay Organizer</h1>
<%if @essays.any?%>
  <ul class="collapsible " data-collapsible="accordion">
    <% for @essays.each do |essay| %>
      <li>
        <div class="collapsible-header"><i class="material-icons">book</i> <%= essay.title %></div>
        <div class="collapsible-body">
            <span>Due on: <%= essay.due_date %></span>
            <%= link_to essay_path(essay) do %>
              <i class="material-icons right">play_arrow</i>
            <%end%>
          </div>
        </li>
      <%end%>
  </ul>
<%end%>

<%= link_to "Create New Project", new_essay_path, :class => "waves-effect waves-light btn-large" %>

<script>
  $(document).ready(function(){
   $('.collapsible').collapsible();
 });
 </script>
