<h1>Welcome to the Essay Organizer</h1>
<%if @essays.any?%>
  <ul class="collapsible " data-collapsible="accordion">
    <%@essays.each do |essay| %>
      <li>
        
        <div class="collapsible-header">
          <span><i class="material-icons">book</i> <%= essay.title %></span>
        </div>

        <div class="collapsible-body">
            <span>Due on: <%= essay.due_date %>
            <%= link_to "View Essay", essay_path(essay), :class => "btn waves-effect waves-light"%></span>
        </div>
      </li>
    <%end%>
  </ul>
<%end%>

<%= link_to "Create New Project", new_essay_path, :class => "waves-effect waves-light btn-large" %>

<script>
  $(document).ready(function(){
   $('.collapsible').collapsible();
 });
 </script>
